
h1,h2,p{
    background-color: aqua;
}

 h2[draggable="true"]{
    background-color: blueviolet;
 }
 

 section p{
    background-color: aqua;
 }

  section > p {
    background-color: blanchedalmond;
 } 