/* h1{
    color: orange;
    background-color: aqua;
    text-align: center;
} */

/* .container{
    text-align: center;
    background-color: aqua;
}

h1{
    background-color: pink;
}

p{
    background-color: orange;
}

button{
    background-color: red;
} */



h1{
    background-color: olivedrab;
    direction: ltr;
    unicode-bidi: bidi-override;
    /* text-decoration-line: overline underline; */
}

p{
    /* text-indent: 200px; */
    letter-spacing: 1px;
    /* line-height: 20px; */
}