*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    background-color: wheat;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Box{
    height: 200px;
    width: 200px;
    background-color: blue;
    font-size: 3rem;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: all;
    transition-duration: 2s;transition-timing-function: linear;
    gap: 5rem;
}

.Box:hover{
    /* transform: translate(400px, -300px); */
    /* transform: scale(2,3); */
    /* transform: rotate(45deg); */
    /* transform: rotate(45deg); */
    /* transform-origin: bottom right; */
    /* transform: skew(30deg); */
    /* transform: translate(100px, -100px) scale(1.5) rotate(45deg) skew(20deg); */
    transform: scale(2,2);
}

.Box2:hover{
    /* transform: translate(400px, -300px); */
    /* transform: scale(2,3); */
    /* transform: rotate(45deg); */
    transform: rotate(45deg);
    transform-origin: bottom right;
}