.box{
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: blue;
}

.container{
    background-color: aqua;
    margin-top: 100px;
    margin-left: 100px;
}

.box1{
    background-color: red;
    position: relative;
    z-index: 7;
    left: 250px;
}

.box2{
    background-color: blue;
    position: relative;
    left: 20px;
    top: 20px;
    z-index: 0;
}


/* deafault z index wo hota hai auto  */
.box3{
    background-color: green;
    position: relative;
    z-index: 5;
}

.box4{
    background-color: orange;
}