.container{
    background-color: aquamarine;
    height: 1000px;
    display: flex;
    flex-direction: row;
    /* align-items: baseline; */
    /* flex-wrap: nowrap;
    justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
    align-content: start;
}

.box{

    height: 150px;
    width: 150px;
    border: 5px solid black; 
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
}

.Box1{
    background-color: red;
}

.Box2{
    background-color: blue;
}

.Box3{
    background-color: green;
}

.Box4{
    background-color: orange;
}


/* .first{
    font-size: 50px;
}

.second{
    font-size: 25px;
} */