*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100%;
    gap: 1rem;
    background-color: black;
    padding: 4rem;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-columns: minmax(100px,200px) minmax(100px,200px) minmax(100px,200px) minmax(100px,200px) ;*/
    /* grid-template-columns: repeat(auto-fill,minmax(100px,200px)); */
    grid-template-columns: repeat(4, 1fr);
    /* justify-items: center;
    align-items: center; */
    place-items: center;
} 

.Box{
    display: grid;
    background-color: yellowgreen;
    /* font-size: 2rem; */
    height: 100px;
    width: 100px;
}

.Box2{
    align-self: start;
    justify-self: flex start;
}

