.container{
    background-color: bisque;
    margin-left: 200px;
    margin-top: 300px;
    position: relative;
    height: 1000px;
}

.newcontainer{
    height: 800px;
    background-color: brown;
}

.box{
    height: 100px;
    width: 100px;
    display: inline-block;
}

.box1{
    background-color: red;
}

.box2{
    background-color: blue;
    position: fixed;
    top: 20px;
    
}

.box3{
    background-color: green;
}

.box4{
    background-color: orange;
}