.container{
    background-color: blue;
    /* height: 500px;
    width: 400px; */
    display: flex;
}

.box{
    color: red;
    height: 300px;
    width: 300px;
    background-color: aqua;
    margin: 30px;
    border: 5px solid blue;
}

/* Mobile phone */
@media (max-width:600px)
{
    .container{
        flex-direction: column;
    }
}


/* Max Width 900px, Min Width 601px */
@media (min-width:601px) and (max-width:900px)
{
    .container{
        background-color: aqua;
        height: 200px;
        width: 200px;
    }
} 