body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grandParent{
    width: 400px;
    height: 400px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parent{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#child{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}