h1{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;

}
p{
    color: hsla(90, 45, 90s, 0.1);
}
body{
    background-color: antiquewhite;
}
