.card{
    height: 30vw;
    width: 30vw;
    background-color: aqua;
    border: 5px green solid;
    padding: 10px;
    margin: 20px 20px 20px 35vw;
}

body{
    background-color: antiquewhite;
}

h2{
    color: green;
    text-align: center;
}
 
p{
    text-align: center;   
}

h3{
   text-align: center;
}
.card:hover {
    transform: scale(1.1);
}