h2{
    background-color: aqua;
    width: 300px;
    height: 200px;
    /* border-width: 2px;
    border-style: dashed;
    border-color: black; */
    border-radius: 20px;
    /* shortcuts */
    border: 5px brown solid;
    padding: 10px;
    margin: 20px 50px 15px 10px;
    box-sizing: border-box;
    
}
ul{
    background-color: pink;
}
p{
    background-color: yellow;
    border-width: 5px;
    border-color: black ;
    border-style: solid;
    padding: 5px;
}
h4{
    background-color: plum;
    /* border-left-width: 5px;
    border-left-color: blue;
    border-left-style: solid; */
    border-width: 10px 20px 30px 40px;
    border-style:solid ;
    border-color: green;
}
.h4{
    background-color: red;
    border-radius: 14px;
}